.game {
    padding-top: 3rem;
}

.message {
    position: absolute;
    right: 0px;
    /* width: 50px; */
    transform: translate3d(0, -30%, 0);
    top: 10px;
    font-size: 3rem;
    x: 2rem;
}

.board {width: 38rem;height: 38rem;background-color: #eaeaef;}

.row {
    display: flex;
    width: 100%;
    height: 10%;
}

.space {
    border-left: 1px solid #dfdfe6;
    border-bottom: 1px solid #dfdfe6;
    background-color: #eaeaef;
    cursor: pointer;
    height: 100%;
    width: 10%;
}

.row:nth-child(odd) > .space:nth-child(even), .row:nth-child(even) > .space:nth-child(odd) {
    /* background-color: #d0d0e2; */
}

.ship-img {
    /* transform: rotate(90deg); */
    /* left: 100%; */
    /* transform-origin: 0% 0% 0; */
    /* top: 50%; */
    /* left: 0%; */
    position: absolute;
    z-index: 999;
    pointer-events: none;
    width: 400%;
}

.fadeUpOut {
    animation: fadeOut .1s ease-out 0s normal forwards;
}

@keyframes fadeUpOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3d(0, -70%, 0);
    }
}

.fadeUpOut2 {
    animation: fadeOut .1s ease-out 0s normal forwards;
}

@keyframes fadeUpOut2 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3d(0, -70%, 0);
    }
}