.navbar {/* background-color: #bfe3e6; */display: flex;justify-content: space-between;padding: 1rem 0;max-width: 1300px;margin: 0 auto;}

.navbar-logo {

}

.navbar-nav {

}

.navbar-item {

}

.nav-link {
  margin-right: 1rem;
}