.game {
    width: 93%;
    height: 90vh;
    /* background: #f7f7f7; */
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
}

.welcome {
    text-align: center;
    margin-top: 7rem;
    color: #ccc;
    font-size: 3rem;    
}